h1 {
  text-align: center;
}

.checkbox-container {
  display: flex;
  flex-wrap: wrap;
}

.header {
  font-weight: 500;
  padding: 1rem;
}

.checkbox-column {
  display: flex;
  flex-direction: column;
}

.button-container {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 5rem;
  padding-right: 5rem;
}



.hidden {
  outline: 1px solid red;
  display: none;
}



.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center;  */
  margin-left: 5rem;
  margin-right: 5rem;
  margin-top: 10rem;
}

.loader-title {
  text-align: center;
}

.movieShowcase {
  padding: 2rem;
  white-space: pre-line;
}

.movieText {
  font-weight: 500;
}

.slider-container {
  padding-right: 5rem;
  padding-left: 5rem;
}


.genre-container {
  padding-left: 4rem;
  padding-right: 2rem;
}


.cast-container {
  padding-left: 4rem;
  padding-right: 2rem;
}
.buttons-container {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 10rem;
  padding-right: 10rem;
  display: flex;
  justify-content: space-evenly;
}

@media (min-width: 1240px) {
  .loading {
    margin-top: 10rem;
    margin-left: 10rem;
    margin-right: 10rem;
  }
  .header {
    font-weight: 600;
  }
  .buttons-container {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 20rem;
    padding-right: 20rem;
    display: flex;
    justify-content: space-evenly;
  }
  .slider-container {
    padding-top: 2rem;
    padding-left: 20rem;
    padding-right: 20rem
  }
  .genre-container {
    padding-left: 20rem;
    padding-right: 20rem
  }
  .cast-container {
    padding-left: 20rem;
    padding-right: 20rem
  }
}
@media (max-width: 768px) {
  .buttons-container {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media (max-width: 425px) {

  .loading {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 12rem;
  }
  .loader-title {
    font-weight: 500;
  }
  .buttons-container {
    padding-left: 0rem;
    padding-right: 0rem;
  }
  .button-container {
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .slider-container {
    /* padding-top: 2rem; */
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .cast-container {
    padding-left: 2rem;
    padding-right: 1rem;
  }
  .genre-container {
    padding-left: 2rem;
    padding-right: 1rem
  }
}
